{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="contact-form">
    <h2>Contact Me</h2>
    <form action="https://formspree.io/f/xwpldajn" method="POST">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="message" placeholder="Your Message" rows="5" required></textarea>
        <button type="submit">Send Message</button>
    </form>
</div>

<!-- Бегущая строка -->
<div class="scroll-text" onclick="toggleScroll(this)">
    <p>If you'd like to know more about these places, I'd be happy to share—just get in touch! And even if we’ve never met, I’ll gladly tell you all about these places!</p>
</div>

{% endblock %}
